{% extends 'base.html.twig' %}

{% block title %}Nouvelle série{% endblock %}

{% block body %}
    <h1>Créer une nouvelle série</h1>

    {{ include('program/_form.html.twig') }}

    <button type="button" class="btn btn-lg round ml-5 mb-5">
        <a href="{{ path('program_index') }}">Retour à la liste</a>
    </button>
{% endblock %}
