@import "~bootstrap/scss/bootstrap";


$title-font: 'Raleway', sans-serif;
$body-font: 'Lora', serif;
$dark-color: #0d0d0d;
$primary-color: #2b6156;
$primaryDarker-color: #002322;
$secondary-color: #32936f;
$third-color: #808080;

body {
  background: linear-gradient($primaryDarker-color, $primary-color) fixed;
  color: white;
  font-family: $body-font;
}

.navbarTitle {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2.5rem;
  padding-top: 0;
  margin-right: 3rem;
}

h1, h4{
  font-family: $title-font;
}

.navbar {
  background-color: transparent;
  width: 100%;
  a:hover{
    color: white;
    text-decoration: none;
  }
}

.navbar-nav a {
  font-family: $title-font;
  font-size: 1.3rem;


}


.btn-lg {
  font-size: 18px;
  background-color: $secondary-color;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

.round {
  border-radius: 24px;
}

.card {
  background-color: white;
  color: black;
  height: 30rem;

  .list-group-item {
    background-color: white;
    color: black;
  }

  h4 {
    color: $secondary-color;
  }
}

.table {
  background-color: rgba(255, 255, 255, 0.6);
}

.badges {
  margin: 0 10px 10px 10px;
}

.secondary-color {
  color : $secondary-color;
}
