@import "~bootstrap/scss/bootstrap";


$title-font: 'Raleway', sans-serif;
$body-font: 'Lora', serif;
$dark-color: #0d0d0d;
$primary-color: #2b6156;
$primaryDarker-color: #002322;
$secondary-color: #32936f;
$third-color: #808080;

body {
  background: linear-gradient($primaryDarker-color, $primary-color) fixed;
  color: white;
  font-family: $body-font;
}

.navbarTitle {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2.5rem;
  padding-top: 0;
  margin-right: 3rem;
}

h1, h4, h3 {
  font-family: $title-font;
}

.navbar {
  background-color: transparent;
  width: 100%;

  a:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-nav a {
  font-family: $title-font;
  font-size: 1.3rem;


}


.btn-lg {
  font-size: 18px;
  background-color: $secondary-color;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }
}

.img-bg {
  background-image: url("/build/advenger.jpg");
  background-size: 100vw 100vh;
  position: relative;
  background-position: top left;
  height: 100vh;
}

.round {
  border-radius: 24px;
}

.card {
  background-color: white;
  color: black;
  height: 30rem;

  .list-group-item {
    background-color: white;
    color: black;
  }

  h4 {
    color: $secondary-color;
  }
}

.table {
  background-color: rgba(255, 255, 255, 0.6);
}

.badges {
  margin: 0 10px 10px 10px;
}

.secondary-color {
  color: $secondary-color;
}

i {
  font-size: 20px;
  color: $secondary-color;
}

.commentTitle {
  border-bottom: 1px white solid;
}

form {
  justify-content: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.cardWild {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  background-color: #ffffff;
  box-shadow: 3px 3px 15px #002322;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.85;
  }

  figcaption {
    width: 100%;
    background-color: #ffffff;
    padding: 25px;
    position: relative;
  }

  figcaption:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 400px;
    border-color: transparent transparent transparent #ffffff;
  }

  figcaption a {
    padding: 5px;
    border: 1px solid #141414;
    color: #141414;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 47%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 25px;
    z-index: 1;
    max-width: 90px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  h2 {
    margin: 0 0 5px;
    font-weight: 300;
    font-size: 20pt;
  }

  h2 span {
    display: block;
    font-size: 0.8em;
    color: #2980b9;
  }

  p {
    margin: 0 0 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.8;
  }

}


.cardWild figcaption a:hover {
  opacity: 1;
}

